<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your click matters</title>
</head>

<link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">

<body>
    <div id="box1" class="box"><div class="word">{{word1}}</div></div>
    <div id="box2" class="box"><div class="word">{{word2}}</div></div>
    <div id="box3" class="box"><div class="word">{{word3}}</div></div>
    <div id="box4" class="box"><div class="word">{{word4}}</div></div>
</body>
</html>